svg:not(:root) {
    width: 40px;
}

@media only screen and (max-width: 992px) {
	.side-nav a {
		padding: 0px;
	}
	.side-nav {
		width: 300px;
	}
}

cloudflare-app a {
	padding: 0px;
}

#foto-perfil {
	margin-top: 40px;
	width: 300px;
	border-radius: 100%;
}

h2 {
	font-size: 40px;
}

footer .row {
	margin-bottom: 0px;
}

footer {
	margin: 20px auto 0px auto	;
	width: 100%;
	bottom: 0;
	position: relative;
}
